@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-top: 70px;
  overflow-x: hidden;
  background: linear-gradient(
    180deg,
    #667379 0%,
    #765c56 28.85%,
    #6d696b 58.28%,
    #716361 77.41%,
    #6d696b 100%
  );
}

/* NAVBAR START*/
.navbar {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.container {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  height: 40px;
  object-fit: contain;
}

.hamburger {
  width: 30px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 7px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.line {
  height: 2px;
  background: #e0ceb0;
  border-radius: 10px;
  transition: 0.4s ease;
}

.line1,
.line3 {
  width: 16px;
}
.line2 {
  width: 24px;
}
.hamburger.active .line1 {
  transform: rotate(45deg) translateY(13px);
  width: 28px;
}
.hamburger.active .line2 {
  opacity: 0;
}
.hamburger.active .line3 {
  transform: rotate(-45deg) translateY(-13px);
  width: 28px;
}
.overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #fff;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);
  transition: right 0.4s ease;
  z-index: 1000;
  overflow-y: auto;
}

.overlay.show {
  right: 0;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 120px;
  align-items: center;
  justify-items: center;
}

.overlay a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  font-weight: 400;
}
@media (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
/* NAVBAR END*/

/* BANNER START */
.banner {
  height: calc(100vh - 70px);
}
.banner-title {
  opacity: 0;
  transform: translateY(40px);
  animation: slideUp 1s ease-out forwards;
}
.banner-btn {
  opacity: 0;
  transform: translateY(40px);
  animation: slideUp 1s ease-out forwards;
  animation-delay: 0.8s;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* BANNER END */

/* ICONIC LIVING ANIMATIONS START*/
.slide-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease-out;
}

.slide-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.8s ease-out;
}

.slide-left.show,
.slide-right.show {
  opacity: 1;
  transform: translateX(0);
}
/* ICONIC LIVING ANIMATIONS END*/

/* PROJECT HIGHLIGHTS ANIMATIONS START*/
.slide-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}
.slide-up.show {
  opacity: 1;
  transform: translateY(0);
}
/* PROJECT HIGHLIGHTS ANIMATIONS END*/

/* FLOOR PLANS CSS AND ANIMATIONS START */
.slide-left-img {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease-out;
}

.zoom-in {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.8s ease-out;
}
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}
.show {
  opacity: 1;
  transform: translateX(0) translateY(0) scale(1);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .ul-li-items {
    columns: 1 !important;
  }
}
/* FLOOR PLANS CSS AND ANIMATIONS END */

/*GALLERY ANIMATION AND CSS START*/
.gallery-slide-left,
.gallery-slide-right,
.gallery-slide-up {
  opacity: 0;
  transition: all 0.8s ease-out;
}

.gallery-slide-left {
  transform: translateX(-50px);
}

.gallery-slide-right {
  transform: translateX(50px);
}

.gallery-slide-up {
  transform: translateY(50px);
}

.gallery-show {
  opacity: 1;
  transform: translateX(0) translateY(0) scale(1);
}

.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.gallery-overlay img {
  max-width: 90%;
  max-height: 90%;
  transition: transform 0.3s ease;
}
/*GALLERY ANIMATION AND CSS END*/

/*FORM ANIMATION AND CSS START*/
.form-animate {
  opacity: 0;
  transition: opacity 1s ease;
}

.form-animate.visible {
  opacity: 1;
}
.iti {
  width: 100% !important;
}

.error-text-small {
  height: 16px;
  font-size: 10px;
  margin-top: 2px;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: hidden;
}
.error-visible {
  visibility: visible;
}
.iti__selected-dial-code {
  color: white !important;
}
/*FORM ANIMATION AND CSS END*/

/* FOOTER ANIMATION START */
.footer-animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.footer-animate.visible {
  opacity: 1;
  transform: translateY(0);
}
/* FOOTER ANIMATION END */

/* BUTTON TEXT COLOR */
.gradient-text {
  background: linear-gradient(90deg, #7b5b54 0%, #667379 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
